.vs
FrmLibrary/bin/*
FrmLibrary/obj/*
FromLibrary/obj/Debug/FromLibrary.csproj.CoreCompileInputs.cache
FromLibrary/obj/Debug/FromLibrary.csproj.CoreCompileInputs.cache
FromLibrary/obj/Debug/FromLibrary.csproj.GenerateResource.cache
FromLibrary/obj/Debug/FromLibrary.exe
/FromLibrary/obj
/FromLibrary/obj
